@mixin promo($bgColor: #faebd7) {
  height: 304px;
  width: 235px;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin site-button($cornerRadius: 5px, $btnPadding: 5px 15px) {
  background-color: $site-blue;
  padding: $btnPadding;
  border-radius: $cornerRadius;
  color: white;
  font-size: 15px;
  font-family: Gill Sans;
  cursor: pointer;
}
